ADMIN_USERNAME=
ADMIN_PASSWORD=
SECRET_KEY=
HOST=0.0.0.0
PORT=8000
LOG_LEVEL=INFO
DB_PATH=app_data/telesoft.db
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_BOT_TOKEN=
SESSION_PATH=app_data/bot.session